@charset "utf-8";
.nva-hidden{display:none;}

.ui-btn-left,.ui-btn-right{top: 0;}
.ui-header-fixed .ui-btn-left, .ui-header-fixed .ui-btn-right{margin-top:0;}
.ui-btn-left{left: 0;}
.ui-btn-right{right: 0;}

div.content-info-box{position:relative;border-top:3px solid #1BA1E2;margin:5px 0;padding:5px;background-color: #FFFFFF;box-shadow: 3px 3px 2px #BBBBBB;border-radius:2px;}
div.content-info-box div{padding:0 10px;}
div.content-info-box div.info-title-box{font-weight:bold;margin: 5px;}
div.content-info-box div.info-content-box{position:relative; margin: 10px 5px 10px 5px;text-align:left;line-height:20px;}
div.content-info-box div.info-attachment-box{margin: 10px 5px 10px 5px;}
div.content-info-box div.info-attachment-box .tint{margin-right:20px;}
div.content-info-box div.info-author-box{margin: 5px;text-align: right;color: #999999;}


ul.content-reply-box{width:100%;overflow:hidden;}
ul.content-reply-box li{width:100%;overflow:hidden;margin-bottom:2em;}
ul.content-reply-box li div.user img{width:45px;height:45px;border-radius:50%;margin-top:15px;}
ul.content-reply-box li div.user span.user-name{color:#999;margin-top:5px;display:block;text-align:center;width:50px;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;font-size:12px;}
ul.content-reply-box li div.reply-content-box div.reply-content{border:1px solid #fcfcfc;padding:.6em;background-color:#fcfcfc;border-radius:4px;box-shadow:0 0 5px #cccccc;}
ul.content-reply-box li div.reply-content-box div.reply-content img{max-width:90%;}
ul.content-reply-box li div.reply-content-box span.reply-time{color:#e1912d;font-size:.85em;display:inline-block;width:100%;}

ul.content-reply-box li.odd  div.user{float:left;margin-right:10px;}
ul.content-reply-box li.odd  div.user span.user-name{margin-left:10px;}
ul.content-reply-box li.odd  div.user img{margin-left:10px;}
ul.content-reply-box li.odd  div.reply-content-box{margin-left:70px;margin-right:10px;}
ul.content-reply-box li.odd  div.reply-content-box span.reply-time{text-align:left;}

ul.content-reply-box li.even  div.user{float:right;margin-left:10px;}
ul.content-reply-box li.even  div.user span.user-name{margin-right:10px;}
ul.content-reply-box li.even  div.user img{margin-right:10px;}
ul.content-reply-box li.even  div.reply-content-box{margin-right:70px;margin-left:10px;}
ul.content-reply-box li.even  div.reply-content-box span.reply-time{text-align:right;}
