.nva-hidden{display:none;}
table tbody tr td{min-height:50px;}
table tbody tr td:first-child{text-align: center;}

ul{padding:0;margin:0;}
li{list-style:none;}

.content-info-box{border-top:3px solid #1BA1E2;margin:5px 0;padding:5px;background-color: #FFFFFF;box-shadow: 3px 3px 2px #BBBBBB;border-radius:2px;}
.content-info-box .info-title-box{font-weight:bold;margin: 5px;}
.content-info-box .info-content-box{margin: 10px 5px 10px 5px;}
.content-info-box .info-attachment-box{margin: 10px 5px 10px 5px;}
.content-info-box .info-attachment-box .tint{margin-right:20px;}
.content-info-box .info-author-box{margin: 5px;text-align: right;color: #999;}


.user_box{width:100%;padding:2.2em 0;}
.avatar{border:2px solid #999;border-radius:50%;padding:.8em;}
.username{display:inline-block;width:100%;padding:10px 0 20px;font-size:1.2em;color:#999;border-bottom:1px solid #e6e6e6;}
.avatar_{border-radius:50%;margin-top:15px;}
.content-reply-box{width:100%;overflow:hidden;}
.content-reply-box li{width:100%;overflow:hidden;margin-bottom:2em;}
.content-reply-box li .user img{width:45px;height:45px;}
.content-reply-box li.odd  .user{float:left;margin-right:10px;}
.content-reply-box li.odd  .user img{margin-left:10px;}
.content-reply-box li.even .user{float:right;margin-left:10px;}
.content-reply-box li.odd  .reply-content-box{margin-left:70px;margin-right:10px;}
.content-reply-box li.even .reply-content-box{margin-right:60px;margin-left:10px;}

.user-name{color:#999;margin-top:5px;display:block;text-align:center;width:50px;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;font-size:12px;}
.content-reply-box li.odd  .user .user-name{margin-left:10px;}
.reply-time{color:#e1912d;font-size:.85em;display:inline-block;width:100%;}
.content-reply-box li.odd .reply-time{text-align:left;}
.content-reply-box li.even .reply-time{text-align:right;}
.reply-content{border:1px solid #fcfcfc;padding:.6em;background-color:#fcfcfc;border-radius:4px;box-shadow:0 0 5px #ccc;}
.reply-content img{max-width:99%;}
.content-reply-box li.odd .arrow{width:0;height:0;line-height:0;font-size:0;border-color:transparent #fff transparent transparent;border-width:6px;border-style:dashed solid dashed dashed;display:block;position:absolute;top:8px;left:-12px;z-index:999;}
.content-reply-box li.even .arrow{width:0;height:0;line-height:0;font-size:0;border-color:transparent transparent transparent #fff;border-width:6px;border-style:dashed dashed dashed solid;display:block;position:absolute;top:8px;right:-12px;z-index:999;}
.operating{border-top:1px solid #ccc;}
.operating li{border-right:1px solid #ccc;}
.operating a{padding:0.85em 0;display:inline-block;width:100%;}
.pr{position:relative;}
.oh{overflow:hidden;}
.mg10 {margin:10px 0;}
.linear-g{background: -moz-linear-gradient(top, #fdfdfd, #f6f6f6);background: -webkit-gradient(linear,top,from(#fdfdfd),to(#f6f6f6));background: -webkit-linear-gradient(top, #fdfdfd, #f6f6f6);background: -o-linear-gradient(top, #fdfdfd, #f6f6f6);box-shadow:0 0 5px #ccc;}